.plItem{
	width:690rpx;
	padding:40rpx 30rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 1px solid #ddd;
	.info{
		width:100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 33rpx;
		.left{
			display: flex;
			align-items: center;
			.avatar{
				width:60rpx;
				height:60rpx;
				border-radius:50%;
				margin-right: 8rpx;
			}
			.desc{
				height: 60rpx;
				display: flex;
				flex-direction: column;
				justify-content:space-around;
				.time{
					font-size:20rpx;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(101,101,101,1);
				}
				.row{
					display: flex;
					align-items: center;
					.name{
						font-size:28rpx;
						font-family:PingFang SC;
						font-weight:400;
						color:rgba(1,83,119,1);
					}
					.vipIcon{
						width:28rpx;
						height: 19rpx;
						margin-left: 22rpx;
						margin-right:8rpx;
					}
					.hy{
						font-size:24rpx;
						font-family:PingFang SC;
						font-weight:400;
						color:rgba(0,0,0,1);
					}
				}
			}
		}
		.right{
			display: flex;
			align-items: center;
			.heartIcon{
				width:20rpx;
				height: 18rpx;
				margin-right: 10rpx;
			}
			text{
				font-size:26rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(153,153,153,1);
			}
		}
	}
	.detail{
		width:604rpx;
		font-size:28rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(0,0,0,1);
		margin-bottom: 30rpx;
	}
	.imgs{
		width:632rpx;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		image{
			display: block;
			width:198rpx;
			height:220rpx;
			border-radius:4rpx;
			margin-left:12rpx;
		}
	}
	.operating{
		margin: 22rpx 0;
		width:630rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left{
			display: flex;
			align-items: center;
			.tag{
				text-align: center;
				line-height: 34rpx;
				margin-right: 20rpx;
				width:89rpx;
				height:34rpx;
				border:1px solid rgba(221,221,221,1);
				border-radius:17rpx;
				font-size:24rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(102,102,102,1);
			}
		}
		.right{
			height: 34rpx;
			display: flex;
			align-items: center;
			.likeBox{
				margin-right: 52rpx;
			}
			.item{
				display: flex;
				align-items: center;
				image{
					display: block;
				}
				.like{
					width:20rpx;
					height: 19rpx;
				}
				.pl{
					width:19rpx;
					height: 20rpx;
				}
				text{
					display: block;
					font-size:24rpx;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(153,153,153,1);
					margin-left: 12rpx;
					line-height: 34rpx;
				}
			}
		}
	}
	.pos{
		position: relative;
		width:616rpx;
		display: flex;
		align-items: center;
		.dwIcon{
			width:22rpx;
			height: 26rpx;
			margin-right: 10rpx;
		}
		text{
			font-size:24rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(1,84,120,1);
		}
		.moreIcon{
			position: absolute;
			width:26rpx;
			height: 6rpx;
			right:0;
			top:50%;
			transform: translateY(-50%);
		}
	}
}