page{
	padding-bottom: 100rpx;
}
.mask{
	position: fixed;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
	left:0;
	top:0;
	z-index: 1000;
}
.addTip{
	position: fixed;
	display: flex;
	align-items: center;
	right: 10px;
	width:413rpx;
	height:73rpx;
	background:rgba(255,255,255,1);
	border-radius:32rpx;
	z-index: 1001;
	&::after{
		content: '';
		position: absolute;
		top:-12rpx;
		left:68%;
		width: 0;
		height: 0;
		border-left: 6rpx solid transparent;
		border-right: 6rpx solid transparent;
		border-bottom: 12rpx solid #fff;
	}
	.box{
		position: relative;
		font-size:28rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(0,0,0,1);
		margin-left: 20rpx;
		margin-right: 36rpx;
		&::after{
			content: '';
			position: absolute;
			width:1px;
			height:28rpx;
			background:rgba(215,215,215,1);
			top:50%;
			transform: translateY(-50%);
			right: -16rpx;
		}
	}
	.icon{
		width:22rpx;
		height: 22rpx;
	}
}
.header {
		width:100%;
		display: flex;
		flex-direction: column;
		background-color: #FDD30F;
		box-sizing: border-box;
		.position{
			width:100%;
			//height: 32px;
			display: flex;
			align-items: center;
			.dwIcon{
				width:34rpx;
				height: 43rpx;
				margin-left: 30rpx;
				margin-right: 17rpx;
			}
			text{
				font-size:34rpx;
				font-family:PingFang SC;
				font-weight:bold;
				color:rgba(0,0,0,1);
			}
		}
		.search{
			width:100%;
			display: flex;
			align-items: center;
			margin-top: 12rpx;
			padding-bottom: 182rpx;
			.sslIcon{
				width: 51rpx;
				height: 38rpx;
				margin-left:29rpx;
				margin-right: 11rpx;
			}
			.searchMain{
				width:560rpx;
				height:54rpx;
				background:rgba(255,255,255,.5);
				border-radius:6rpx;
				margin-right: 27rpx;
				display: flex;
				justify-content: center;
				align-items: center;
				.ssIcon{
					width:30rpx;
					height:28rpx;
					margin-right: 19rpx;
				}
				text{
					font-size:28rpx;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(51,51,51,1);
				}
			}
			.messageIcon{
				width:40rpx;
				height: 44rpx;
			}
		}
	}
.block{
	width:750rpx;
	height:20rpx;
	background:rgba(242,242,242,1);
}
.swiper-box{
	position: relative;
	width:690rpx;
	height: 153rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
	.swiperBox{
			position: absolute;
			left:0;
			bottom:0;
			width:690rpx;
			height:300rpx;
			border-radius:6rpx;
			.swiper{
				width:690rpx;
				height:300rpx;
				border-radius:6rpx;
				.itemImg{
					width:690rpx;
					height:300rpx;
					border-radius:6rpx;
				}
			}
			.dots{
				position: absolute;
				width:100%;
				display: flex;
				justify-content: center;
				align-items: center;
				bottom:18rpx;
				.dot{
					width:8rpx;
					height:8rpx;
					background:rgba(255,255,255,1);
					border-radius:50%;
					margin-right: 14rpx;
				}
				.dotActive{
					width:30rpx;
					height:8rpx;
					background:rgba(253,211,15,1);
					border-radius:4rpx;
				}
			}
		}
}
.category{
	width:690rpx;
	display: flex;
	padding-bottom: 40rpx;
	align-items: center;
	margin-top: 48rpx;
	.cate{
		width:25%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text{
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:500;
			color:rgba(0,0,0,1);
		}
		image{
			margin-bottom: 26rpx;
		}
		.icon1{
			width:70rpx;
			height: 59rpx;
		}
		.icon2{
			width:54rpx;
			height: 62rpx;
		}
		.icon3{
			width:57rpx;
			height: 57rpx;
		}
		.icon4{
			width:59rpx;
			height: 59rpx;
		}
		.icon5{
			width:58rpx;
			height: 58rpx;
		}
	}
}
.titles{
	width:100%;
	display: flex;
	align-items: center;
	margin-top: 39rpx;
	text{
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(102,102,102,1);
	}
	.hot{
		margin-left:30rpx;
		margin-right:49rpx;
	}
	.titleActive{
		position: relative;
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:800;
		color:rgba(0,0,0,1);
		&::after{
			position: absolute;
			display: block;
			content: '';
			bottom:-22rpx;
			left:50%;
			transform: translateX(-50%);
			width:50rpx;
			height:6rpx;
			background:rgba(253,211,15,1);
			border-radius:3rpx;
		}
	}
}
.list{
	width:690rpx;
	border-bottom: 1px solid #F3F3F3;
	
}
.loginTip{
	position: fixed;
	padding:0 30rpx;
	box-sizing: border-box;
	bottom:95rpx;
	width:750rpx;
	height:94rpx;
	background:rgba(0,0,0,.8);
	display: flex;
	align-items: center;
	justify-content: space-between;
	.left{
		display: flex;
		align-items: center;
		.leftIcon{
			width:41rpx;
			height: 31rpx;
			margin-right: 15rpx;
		}
		text{
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(255,255,255,1);
		}
	}
	.btn{
		width:106rpx;
		height:44rpx;
		text-align: center;
		line-height: 44rpx;
		background:rgba(253,211,15,1);
		border-radius:22rpx;
		font-size:28rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(0,0,0,1);
	}
}
