page{
	background:rgba(242,242,242,1);
	padding-bottom: 80rpx;
}
.tabs{
	position: sticky;
	top: 0;
	left:0;
	z-index: 99;
	width:100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height:110rpx;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30rpx;
	background-color: #fff;
	.tab{
		text-align: center;
		line-height: 110rpx;
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(102,102,102,1);
	}
	.active{
		position: relative;
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:800;
		color:rgba(0,0,0,1);
		&::after{
			content: '';
			position: absolute;
			bottom:20rpx;
			left:50%;
			transform: translateX(-50%);
			width:50rpx;
			height:6rpx;
			background:rgba(253,211,15,1);
			border-radius:3rpx;
		}
	}
}
.form{
	width:690rpx;
	height:567rpx;
	background:rgba(255,255,255,1);
	border-radius:6rpx;
	padding:30rpx;
	box-sizing: border-box;
	.title{
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(0,0,0,1);
	}
	.row{
		width:100%;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ddd;
		padding:30rpx 0;
		.span{
			display: block;
			width:200rpx;
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
		.input{
			flex:1;
		}
		.plClass{
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:#999999;
		}
	}
}
.child{
	position: relative;
	width:690rpx;
	height:528rpx;
	background:rgba(255,255,255,1);
	border-radius:6rpx;
	padding:30rpx;
	box-sizing: border-box;
	margin-bottom: 20rpx;
	.delBtn{
		font-size:30rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(102,102,102,1);
		position: absolute;
		top:40rpx;
		right: 34rpx;
	}
	.row{
		width:100%;
		display: flex;
		align-items: center;
		border-bottom: 1px solid #ddd;
		padding:30rpx 0;
		.span{
			display: block;
			width:200rpx;
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
		.ctx{
			flex:1;
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
	}
}

.saveBtn{
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom:70rpx;
	width:610rpx;
	height:88rpx;
	background:rgba(253,211,15,1);
	border-radius:44rpx;
	font-size:32rpx;
	font-family:PingFang SC;
	font-weight:500;
	color:rgba(0,0,0,1);
	text-align: center;
	line-height: 88rpx;
}