page{
	height: 100%;
	background-color: #FDD30F;
}
.withdraw{
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	height: 98vh;
	background:rgba(255,255,255,1);
	border-radius:60rpx 60rpx 0px 0px;
}
.detail{
	width:654rpx;
	height: 403rpx;
	background-image: url(../../static/img/withdrawBg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin:91rpx auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	.title{
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(49,8,0,1);
		margin-top: 46rpx;
	}
	.inputBox{
		display: flex;
		width:506rpx;
		border-bottom: 1px solid #ddd;
		padding-bottom: 18rpx;
		margin-top: 140rpx;
		.t1{
			font-size: 36rpx;
			font-weight: bold;
		}
		.input{
			flex:1;
		}
		.t2{
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
	}
	.desc{
		width:506rpx;
		margin-top:26rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.t1{
			font-size:26rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
		.t2{
			font-size:26rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(33,176,249,1);
		}
	}
}
.btn{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	bottom:128rpx;
	width:610rpx;
	height:88rpx;
	background:rgba(253,211,15,1);
	border-radius:44rpx;
	text-align: center;
	line-height: 88rpx;
	font-size:34rpx;
	font-family:PingFang SC;
	font-weight:400;
	color:rgba(0,0,0,1);
}