.nav{
	z-index: 99;
	position: fixed;
	left:30rpx;
	display: flex;
	align-items: center;
	height: 32px;
	image{
		width:20rpx;
		height:36rpx;
		padding-right: 16rpx;
	}
	text{
		display: block;
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(0,0,0,1);
	}
}
.header{
	position: relative;
	width:100%;
	height: 394rpx;
	.bgImg{
		width:100%;
		height: 394rpx;
	}
	.t1{
		font-size:60rpx;
		font-family:PingFang SC;
		font-weight:800;
		color:rgba(0,0,0,1);
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		top:158rpx;
	}
	.t2{
		font-size:30rpx;
		font-family:PingFang SC;
		font-weight:500;
		color:rgba(0,0,0,1);
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		top:237rpx;
	}
}
.tabs{
	width:100%;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ddd;
	margin-bottom: 30rpx;
	.tab{
		width:50%;
		text-align: center;
		position: relative;
		padding:16rpx 0;
	}
	.active{
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(0,0,0,1);
		&::after{
			position: absolute;
			content: '';
			width:50rpx;
			height:6rpx;
			background:rgba(253,211,15,1);
			border-radius:3rpx;
			left:50%;
			transform: translateX(-50%);
			bottom:0;
		}
	}
}
.search{
	width:690rpx;
	height:54rpx;
	background:rgba(242,242,242,1);
	border-radius:6px;
	margin-bottom: 40rpx;
	.plClass{
		font-size:28rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(102,102,102,1);
		text-align: center;
		line-height: 54rpx;
	}
}
.filter{
	width:690rpx;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-bottom: 40rpx;
	.item{
		display: flex;
		align-items: center;
		image{
			width:16rpx;
			height:28rpx;
		}
		text{
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:bold;
			color:rgba(0,0,0,1);
			padding-right: 10rpx;
		}
	}
	.line{
		width:1px;
		height:30rpx;
		background:rgba(221,221,221,1);
	}
}
.list{
	width:100%;
	.teamItem{
		padding:0 30rpx;
		display: flex;
		height: 122rpx;
		box-sizing: border-box;
		align-items: center;
		border-top: 1px solid #ddd;
		.avatar{
			width:55rpx;
			height:54rpx;
			border-radius:50%;
			margin-right: 24rpx;
		}
		.info{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 140rpx;
			.name{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:bold;
				color:rgba(51,51,51,1);
			}
			.vip{
				font-size:24rpx;
				font-family:PingFang SC;
				font-weight:bold;
				color:rgba(153,153,153,1);
			}
		}
		.num1{
			margin-right: 160rpx;
		}
		.num{
			font-size:26rpx;
			font-family:PingFang SC;
			font-weight:bold;
			color:rgba(255,0,0,1);
			text{
				font-size:30rpx;
			}
		}
	}
}