page{
	padding-bottom: 120rpx;
}
.experience{
	width:690rpx;
	margin-top: 52rpx;
	border-left: 1px solid #ddd;
	.item{
		position: relative;
		width:100%;
		padding:0 28rpx;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		padding-bottom: 50rpx;
		.timeIcon{
			position: absolute;
			width:22rpx;
			height: 22rpx;
			left:-12rpx;
			padding-top: 6rpx;
			background-color: #fff;
		}
		.time{
			font-size:26rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(51,51,51,1);
			margin-bottom: 20rpx;
		}
		.topic{
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:500;
			color:rgba(2,125,180,1);
			margin-bottom: 34rpx;
		}
		.detail{
			display: flex;
			align-items: center;
			.deImg{
				width:130rpx;
				height:130rpx;
				border-radius:5rpx;
			}
			.right{
				flex:1;
				height:130rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				text{
					margin-left:20rpx;
					font-size:28rpx;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(9,9,9,1);
					padding-top: 7rpx;
				}
				.tags{
					display: flex;
					align-items: center;
					.tag{
						margin-left:20rpx;
						// text-align: center;
						// line-height: 34rpx;
						padding:5rpx 21rpx;
						border:1px solid rgba(221,221,221,1);
						border-radius:17rpx;
						font-size:24rpx;
						font-family:PingFang SC;
						font-weight:400;
						color:rgba(102,102,102,1);
					}
				}
				
			}
		}
		.desc{
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
			margin-bottom: 32rpx;
		}
		.imgs{
			display: flex;
			align-items: center;
			margin-bottom: 23rpx;
			image{
				width:200rpx;
				height:200rpx;
				border-radius:4rpx;
				margin-right: 14rpx;
			}
			& image:nth-child(3){
				margin-right: 0;
			}
		}
		.operating{
			display: flex;
			align-items: center;
			justify-content: space-between;
			.tags{
				display: flex;
				align-items: center;
				.tag{
					padding:5rpx 21rpx;
					border:1px solid rgba(221,221,221,1);
					border-radius:17rpx;
					font-size:24rpx;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(102,102,102,1);
				}
			}
			.operat{
				display: flex;
				align-items: center;
				& .op:nth-child(1){
					margin-right: 50rpx;
					image{
						width:20rpx;
						height:19rpx;
						margin-right: 12rpx;
					}
					text{
						font-size:24rpx;
						font-family:PingFang SC;
						font-weight:400;
						color:rgba(153,153,153,1);
					}
				}
				& .op:nth-child(2){
					image{
						width:19rpx;
						height:20rpx;
						margin-right: 12rpx;
					}
					text{
						font-size:24rpx;
						font-family:PingFang SC;
						font-weight:400;
						color:rgba(153,153,153,1);
					}
				}
				.op{
					display: flex;
					align-items: center;
				}
			}
		}
		.dw{
			display: flex;
			align-items: center;
			margin-top:20rpx;
			image{
				width:22rpx;
				height:26rpx;
				margin-right: 10rpx;
			}
			text{
				font-size:24rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(1,84,120,1);
			}
		}
	}
}
.tabbar{
	width:100%;
	position: fixed;
	bottom:0;
	left:0;
	width:750rpx;
	height:122rpx;
	background:rgba(255,255,255,1);
	border:1px solid rgba(221,221,221,1);
	display: flex;
	align-items: center;
	justify-content: space-around;
	.btn1{
		width:320rpx;
		height:80rpx;
		background:rgba(245,154,35,1);
		border-radius:40rpx;
		text-align: center;
		line-height: 80rpx;
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:500;
		color:rgba(255,255,255,1);
	}
	.btn2{
		width:320rpx;
		height:80rpx;
		background:rgba(238,83,47,1);
		border-radius:40rpx;
		text-align: center;
		line-height: 80rpx;
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:500;
		color:rgba(255,255,255,1);
	}
}