.search{
	position: fixed;
	z-index: 99;
	top:0;
	left:0;
	width:690rpx;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background:rgba(253,211,15,1);
	padding-bottom: 23rpx;
	padding-left:30rpx;
	padding-right: 30rpx;
	.left{
		display: flex;
		align-items: center;
		text{
			font-size:32rpx;
			font-family:PingFang SC;
			font-weight:bold;
			color:rgba(0,0,0,1);
		}
		image{
			width:20rpx;
			height: 14rpx;
			margin-left:12rpx;
		}
	}
	.inputBox{
		position: relative;
		width:568rpx;
		height:54rpx;
		background:rgba(255,255,255,.5);
		border-radius:6rpx;
		.input{
			width:568rpx;
			height:54rpx;
			padding-left:40rpx;
			box-sizing: border-box;
		}
		.plClass{
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(51,51,51,1);
			text-align: center;
		}
			
		.ssIcon{
			position: absolute;
			width:30rpx;
			height:28rpx;
			left:190rpx;
			top:50%;
			transform: translateY(-50%);
		}
		.focusClass{
			left:2rpx;
		}
	}
}
.filter{
	position: fixed;
	z-index: 99;
	left:0;
	top:77rpx;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:100%;
	padding:0 30rpx;
	box-sizing: border-box;
	height: 95rpx;
	border-bottom: 1px solid #ddd;
	.item{
		width:25%;
		display: flex;
		align-items: center;
		text{
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
			padding-right:6rpx;
		}
		.down{
			width:17rpx;
			height:9rpx;
		}
		.price{
			width:16rpx;
			height: 28rpx;
		}
	}
	.section1{
		background-color: #fff;
		position: absolute;
		top:95rpx;
		left:0;
		display: flex;
		flex-wrap: wrap;
		width:100%;
		padding:30rpx 10rpx;
		box-sizing: border-box;
		.tag{
			width:157rpx;
			height:70rpx;
			border:1px solid rgba(221,221,221,1);
			border-radius:4rpx;
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
			text-align: center;
			line-height: 70rpx;
			box-sizing: border-box;
			margin-left: 20rpx;
			margin-bottom: 30rpx;
		}
		.tagActive{
			border:none;
			background:rgba(253,211,15,1);
		}
	}
	.section3{
		background-color: #fff;
		position: absolute;
		top:95rpx;
		left:0;
		width:100%;
		.item{
			width:100%;
			height: 92rpx;
			box-sizing: border-box;
			border-bottom: 1px solid #ddd;
			padding:0 30rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
			image{
				width:40rpx;
				height: 40rpx;
			}
			.active{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(253,211,15,1);
			}
		}
	}
	.section4{
		background-color: #fff;
		position: absolute;
		top:95rpx;
		left:0;
		width:100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.btn{
			width:610rpx;
			height:88rpx;
			background:rgba(253,211,15,1);
			border-radius:44rpx;
			font-size:32rpx;
			font-family:PingFang SC;
			font-weight:500;
			color:rgba(0,0,0,1);
			text-align: center;
			line-height: 88rpx;
			margin-top: 82rpx;
			margin-bottom: 51rpx;
		}
		.item{
			width:100%;
			display: flex;
			align-items: center;
			margin-top: 40rpx;
			text{
				width:16rpx;
				height:3rpx;
				margin:0 29rpx;
				background-color: #000000;
			}
			.inputs{
				margin-left:71rpx;
				width:264rpx;
				height:70rpx;
				border:1px solid rgba(221,221,221,1);
				border-radius:4rpx;
				text-align: center;
			}
			.inpute{
				width:264rpx;
				height:70rpx;
				border:1px solid rgba(221,221,221,1);
				border-radius:4rpx;
				text-align: center;
			}
			.plclass{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(153,153,153,1);
				text-align: center;
			}
		}
	}
}
.list{
	width:690rpx;
	margin-top: 172rpx;
}
.mask{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background-color: rgba(0,0,0,.6);
}