.nav{
	position: sticky;
	top:0;
	height: 32px;
	display:flex;
	align-items: center;
	z-index: 99;
	background:rgba(253,44,15,1);
	width:720rpx;
	padding-left:30rpx;
	image{
		width:24rpx;
		height: 41rpx;
		padding-right: 14rpx;
	}
	text{
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(255,255,255,1);
	}
}
.header{
	position: relative;
	width:750rpx;
	height:420rpx;
	background-image: url(../../static/img/jfbg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display:flex;
	flex-direction: column;
	align-items: center;
	.withdrawBtn{
		position: absolute;
		left:50%;
		transform: translateX(-50%);
		bottom:-41rpx;
		width:198rpx;
		height:82rpx;
		background:rgba(255,255,255,1);
		border:1px solid rgba(253,44,15,1);
		border-radius:41rpx;
		font-size:30rpx;
		font-family:PingFang SC;
		font-weight:500;
		color:rgba(253,44,15,1);
		text-align: center;
		line-height: 82rpx;
	}
	.t1{
		width:100%;
		text-align: center;
		position: relative;
		font-size:24rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(255,255,255,1);
		margin-bottom: 32rpx;
		padding:10rpx 0;
		.team{
			position: absolute;
			right:30rpx;
			top:50%;
			transform: translateY(-50%);
		}
	}
	.t2{
		font-size:56rpx;
		font-family:PingFang SC;
		font-weight:800;
		color:rgba(253,250,15,1);
		margin-bottom: 32rpx;
	}
	.line{
		display: block;
		width:50rpx;
		height:1px;
		background:rgba(255,255,255,1);
		margin-bottom: 70rpx;
	}
	.category{
		width:100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		.item{
			display: flex;
			flex-direction: column;
			align-items: center;
			.num{
				font-size:32rpx;
				font-family:PingFang SC;
				font-weight:bold;
				color:rgba(255,255,255,1);
				padding-bottom: 23rpx;
			}
			.text{
				font-size:26rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(255,255,255,1);
			}
		}
		.hr{
			display: block;
			width:1px;
			height:30rpx;
			background:rgba(255,255,255,1);
		}
	}
}
.Introduction{
	width:100%;
	margin-top: 30rpx;
	margin-bottom: 50rpx;
	padding-left:30rpx;
	box-sizing: border-box;
	font-size:24rpx;
	font-family:PingFang SC;
	font-weight:400;
	color:rgba(17,170,249,1);
}
.tabList{
	width:100%;
	padding-left:30rpx;
	box-sizing: border-box;
	padding-bottom: 40rpx;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	.filter{
		margin-left:160rpx;
		display: flex;
		align-items: center;
		text{
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
		image{
			width:34rpx;
			height: 18rpx;
			margin-left:12rpx;
		}
	}
	.item{
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(102,102,102,1);
		margin-right:50rpx;
	}
	.active{
		position: relative;
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:800;
		color:rgba(0,0,0,1);
		&::after{
			content: '';
			position: absolute;
			left:50%;
			transform: translateX(-50%);
			bottom: -20rpx;
			width:32rpx;
			height:6rpx;
			background:rgba(253,211,15,1);
			border-radius:3rpx;
		}
	}
}
.tip{
	width:690rpx;
	height:62rpx;
	background:rgba(254,245,233,1);
	border-radius:31rpx;
	display: flex;
	align-items: center;
	margin-bottom: 20rpx;
	image{
		width:32rpx;
		height: 32rpx;
		margin-left: 30rpx;
		margin-right: 14rpx;
	}
	text{
		font-size:24rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(164,161,135,1);
	}
}
.list{
	width:100%;
	.item{
		width: 100%;
		padding:0 30rpx;
		height: 140rpx;
		border-bottom: 1px solid #ddd;
		display: flex;
		align-items: center;
		justify-content: space-between;
		box-sizing: border-box;
		.detail{
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content:center;
			.t1{
				font-size:30rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(0,0,0,1);
				margin-bottom: 18rpx;
			}
			.t2{
				font-size:24rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(102,102,102,1);
			}
		}
		.num{
			font-size:34rpx;
			font-family:PingFang SC;
			font-weight:500;
			color:rgba(255,0,0,1);
		}
	}
}
