page{
	height: 100%;
}
.main{
	width:100%;
	height: 100%;
}

.scroll-view{
	height: 100%;
	padding-bottom: 140rpx;
}
.nav{
	position:fixed;
	z-index:99;
	left:30rpx;
	height: 32px;
	display: flex;
	align-items: center;
	image{
		width:25rpx;
		height:44rpx;
	}
}
.header{
	width:100%;
	position: fixed;
	z-index:98;
	background-color:#FDD30F ;
	height: 32px;
	padding-bottom:16rpx;
	display: flex;
	align-items: center;
	text{
		font-size:30rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(0,0,0,1);
	}
	.hd{
		margin-left: 85rpx;
		margin-right:44rpx;
	}
	.give{
		margin-left:37rpx;
		margin-right: 35rpx;
	}
	.active{
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(0,0,0,1);
	}
}
.swiper{
	width:750rpx;
	height:744rpx;
	margin-bottom: 40rpx;
	.itemImg{
		width:100%;
		height: 100%;
	}
}
.ss{
	.ssImge{
		width:750rpx;
		height: 520rpx;
	}
}
.titleBox{
	width:690rpx;
	padding-bottom:29rpx;
	margin-top:30rpx;
	.title{
		width:100%;
		margin-bottom: 20rpx;
		display: flex;
		justify-content: space-between;
		align-items:center;
		&>text{
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:bold;
			color:rgba(0,0,0,1);
		}
		.icons{
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			image{
				width:34rpx;
				height: 34rpx;
				margin-bottom: 12rpx;
			}
			text{
				width:60rpx;
				position: absolute;
				left:50%;
				transform: translateX(-50%);
				bottom:-20rpx;
				font-size:20rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(238,83,47,1);
			}
		}
	}
	.tags{
		display: flex;
		align-items: center;
		margin-bottom: 33rpx;
		.tag{
			padding:5rpx 11rpx;
			border:1px solid rgba(221,221,221,1);
			border-radius:17rpx;
			font-size:24rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(102,102,102,1);
			margin-right: 23rpx;
		}
	}
	.price{
		display: flex;
		align-items: center;
		font-size:26rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:#FF0000;
		justify-content: space-between;
		.ct{
			margin-left:50rpx;
			margin-right: 60rpx;
		}
		.buy{
			font-size: 24rpx;
			color: #666;
		}
		.col{
			.t1{
				font-size: 36rpx;
			}
			.t2{
				font-size: 24rpx;
				color: #666666;
			}
			.eye{
				width:27rpx;
				height:17rpx;
			}
			.uesr{
				width:22rpx;
				height:22rpx;
				margin-left:20rpx;
			}
		}
	}
}
.block{
	width:750rpx;
	height:20rpx;
	background:rgba(242,242,242,1);
	color: rgba(255,255,255,0);
}
.section{
	width:100%;
	.local{
		width:100%;
		padding:0 30rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: space-between;
		margin-top: 30rpx;
		.item{
			position: relative;
			width:335rpx;
			height:134rpx;
			background:rgba(255,255,255,1);
			box-shadow:0px 3rpx 21rpx 0px rgba(0, 0, 0, 0.06);
			border-radius:6rpx;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			.t1{
				font-size:26rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(102,102,102,1);
			}
			.t2{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(0,0,0,1);
			}
			.dw{
				position: absolute;
				top:50%;
				transform: translateY(-50%);
				right:30rpx;
				width:34rpx;
				height: 43rpx;
			}
			.tel{
				position: absolute;
				top:50%;
				transform: translateY(-50%);
				right:30rpx;
				width:41rpx;
				height: 40rpx;
			}
		}
	}
	.time1{
		width:690rpx;
		padding:36rpx 30rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid #ddd;
		.left{
			display: flex;
			align-items: center;
			.t1{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(102,102,102,1);
				margin-right: 35rpx;
			}
			.t2{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(0,0,0,1);
			}
			.over{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:#FF0000;
				text{
					color:#000000;
				}
			}
		}
		.t3{
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,164,249,1);
		}
	}
}
.ad{
	position: fixed;
	left:30rpx;
	bottom:116rpx;
	display: flex;
	flex-direction: column;
	align-items: center;
	.closeIcon{
		width:43rpx;
		height: 43rpx;
	}
	.line{
		width:1px;
		height: 38rpx;
		background-color:#A0A0A0 ;
	}
	.imgBox{
		position: relative;
		width:180rpx;
		height: 208rpx;
		.bgImg{
			width:180rpx;
			height: 208rpx;
		}
		.conten{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			.t1{
				font-size:20rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(255,0,0,1);
				margin-top: 23rpx;
			}
			.t2{
				display: flex;
				align-items: center;
				font-size:20rpx;
				font-family:PingFang SC;
				font-weight:bold;
				color:rgba(255,0,0,1);
				margin-top: 13rpx;
				text{
					font-size: 32rpx;
				}
			}
			.t3{
				font-size:18rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(153,153,153,1);
				margin-top: 13rpx;
			}
			.t4{
				font-size:22rpx;
				font-family:PingFang SC;
				font-weight:bold;
				color:rgba(255,255,255,1);
				margin-top: 30rpx;
			}
		}
	}
}
.tabs{
	width:100%;
	padding:36rpx 0;
	display: flex;
	align-items: center;
	//justify-content: space-around;
	text{
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(51,51,51,1);
	}
	.active{
		font-size:34rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(0,0,0,1);
		margin-left: 30rpx;
		margin-right: 50rpx;
	}
}
.tabbar{
	position: fixed;
	width:100%;
	left:0;
	bottom:0;
	width:750rpx;
	height:112rpx;
	background:rgba(255,255,255,1);
	display: flex;
	align-items: center;
	&::after{
		content: '';
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		left:116rpx;
		width:1px;
		height:40rpx;
		background:rgba(221,221,221,1);
	}
	.kfa{
		margin-left: 30rpx;
		margin-right: 67rpx;
	}
	.item{
		display: flex;
		flex-direction: column;
		align-items: center;
		text{
			font-size:28rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
		.kf{
			width:49rpx;
			height: 45rpx;
		}
		.sc{
			width:48rpx;
			height: 43rpx;
		}
	}
	.btns{
		margin-left: 35rpx;
		width:463rpx;
		height:80rpx;
		background:rgba(238,83,47,1);
		border-radius:40rpx;
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:500;
		color:rgba(255,255,255,1);
		text-align: center;
		line-height: 80rpx;
		.buy{
			width:240rpx;
			height:80rpx;
			background:rgba(253,211,15,1);
			border-radius:40rpx 0px 0px 40rpx;
			font-size:32rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
			text-align: center;
			line-height: 80rpx;
		}
		.group{
			width:240rpx;
			height:80rpx;
			background:rgba(237,83,47,1);
			border-radius:0px 40rpx 40rpx 0px;
			font-size:32rpx;
			font-family:PingFang SC;
			font-weight:500;
			color:rgba(255,255,255,1);
			text-align: center;
			line-height: 80rpx;
		}
	}
}
.pjBtn{
	margin-left: 35rpx;
	width:463rpx;
	height:80rpx;
	border-radius:40rpx;
	font-size:32rpx;
	font-family:PingFang SC;
	font-weight:500;
	color:#010101;
	text-align: center;
	line-height: 80rpx;
	background:rgba(255,255,255,1);
	border:1px solid rgba(215,215,215,1);
}
.popGroup{
	width:750rpx;
	height:201rpx;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #fff;
	z-index: 999;
	.btn1{
		width:320rpx;
		height:80rpx;
		background:rgba(253,211,15,1);
		border-radius:40rpx;
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(0,0,0,1);
		text-align: center;
		line-height: 80rpx;
	}
	.btn2{
		text-align: center;
		line-height: 80rpx;
		width:320rpx;
		height:80rpx;
		background:rgba(237,83,47,1);
		border-radius:40rpx;
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(255,255,255,1);
	}
}
.tip{
	width:610rpx;
	.tipImg{
		width:100%;
		height: 218rpx;
		display: block;
	}
	.desc{
		width:100%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		padding:43rpx 0 75rpx 0;
		text{
			display: block;
			width:508rpx;
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
	}
	.operating{
		width:100%;
		height: 87rpx;
		display: flex;
		align-items: center;
		border-top: 1px solid #ddd;
		background-color: #fff;
		.item{
			width:50%;
			height: 100%;
			box-sizing: border-box;
			text-align: center;
			line-height: 87rpx;
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
		.up{
			border-left: 1px solid #ddd;
			color:rgba(253,188,15,1);
		}
	}
}
.detailTitle{
	width:100%;
	display: flex;
	align-items: center;
	padding:0 30rpx;
	box-sizing: border-box;
	// border-bottom: 1px solid #ddd;
	text{
		display: block;
		width:8rpx;
		height:34rpx;
		background:rgba(253,211,15,1);
		border-radius:4rpx;
	}
	view{
		font-size:32rpx;
		padding-top:40rpx;
		padding-bottom: 30rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(0,0,0,1);
		margin-left:21rpx;
	}
	.tt{
		margin-left:0;
	}
}
.giftList{
	width:100%;
	.title{
		width:690rpx;
		padding-left:30rpx;
		padding-right: 30rpx;
		justify-content: space-between;
		align-items: center;
		padding-top: 43rpx;
		padding-bottom: 48rpx;
		&:nth-child(1){
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:bold;
			color:rgba(0,0,0,1);
		}
		&:nth-child(1){
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(255,0,0,1);
		}
	}
	.list{
		width:100%;
		overflow: hidden;
		padding-left:30rpx;
		box-sizing: border-box;
		.scroll-view_H{
			width:100%;
			white-space:nowrap;
			display:flex;
			.item{
				display: inline-block;
				flex-direction: column;
				margin-right:42rpx ;
				padding-top: 40rpx;
				image{
					width:134rpx;
					height:162rpx;
					border-radius:2rpx;
					margin-bottom: 20rpx;
				}
				text{
					display: block;
					width:162rpx;
					font-size:26rpx;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(0,0,0,1);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
}
.flCaption{
	width:100%;
	padding:0 30rpx;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	.title{
		font-size:32rpx;
		font-family:PingFang SC;
		font-weight:bold;
		color:rgba(0,0,0,1);
		margin-bottom: 46rpx;
		margin-top:50rpx;
	}
	.detail{
		font-size:28rpx;
		font-family:PingFang SC;
		font-weight:400;
		color:rgba(51,51,51,1);
		margin-bottom: 55rpx;
	}
}
.commentBox{
	width:690rpx;
	padding:0 30rpx;
	border-bottom: 1px solid #ddd;
	.item{
		border: none;
	}
	.plBox{
		width:100%;
		background-color:#F3F3F3;
		.top{
			width:100%;
			height: 74rpx;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-sizing: border-box;
			padding:0 20rpx;
			&>text{
				font-size:32rpx;
				font-family:PingFang SC;
				font-weight:500;
				color:rgba(51,51,51,1);
			}
			view{
				display: flex;
				align-items: center;
				text{
					font-size:24rpx;
					font-family:PingFang SC;
					font-weight:400;
					color:rgba(101,101,101,1);
				}
				image{
					width:11rpx;
					height: 21rpx;
					margin-left:9rpx;
				}
			}
		}
		.plItem{
			width:100%;
			box-sizing: border-box;
			padding:26rpx 20rpx;
			border-top: 1px solid #ddd;
			text{
				font-size:28rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(1,83,119,1);
				margin-bottom: 25rpx;
			}
			.desc{
				font-size:26rpx;
				font-family:PingFang SC;
				font-weight:400;
				color:rgba(51,51,51,1);
			}
		}
	}
}
.shareBox{
	width:750rpx;
	height:207rpx;
	background:rgba(255,255,255,1);
	display: flex;
	align-items: center;
	justify-content: space-around;
	.item{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		.shareBtn{
			position: absolute;
			width:100%;
			height: 100%;
			top:0;
			left:0;
			opacity: 0;
		}
		image{
			width:90rpx;
			height: 90rpx;
			margin-bottom: 26rpx;
		}
		text{
			font-size:30rpx;
			font-family:PingFang SC;
			font-weight:400;
			color:rgba(0,0,0,1);
		}
	}
}
.detailBox{
	image{
		width:750rpx;
		height:378rpx;
	}
}